.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #4e68ac !important;
    border-color: #4e68ac !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.btn-primary:active {   
  border-color: #4e68ac;
  box-shadow: rgba(78, 104, 172, 0.3) 0px 0px 0px 3px;
  outline: 0 none;
}