@media only screen and (max-width: 1300px) {
    .venue>img {
        position: absolute;
        visibility: hidden;
        max-width: 0px;
        overflow-x: hidden
    }
}

@media only screen and (max-width: 1200px) {
    .banner>div {
        max-width: 600px;
    }
}

@media only screen and (max-width: 1000px) {
    .block {
        padding-left: 0.5cm;
        padding-right: 0.5cm;
    }

    .case-hidden {
        position: relative;
        visibility: visible;
    }

    .case>img {
        position: absolute;
        visibility: hidden;
        max-width: 0px;
        overflow-x: hidden
    }
    .case>div>img {
        position: absolute;
        visibility: hidden;
        max-width: 0px;
        overflow-x: hidden
    }
}

@media only screen and (max-width: 840px) {
    .banner>div {
        max-width: 500px;
    }
}

@media only screen and (max-width: 740px) {
    .header-logo {
        position: absolute;
        visibility: hidden;
        max-width: 0px;
        overflow-x: hidden
    }
    .banner{
        text-align: center;
    }

    .grid-container {
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 550px) {
    h4{
        font-size: 20px;
    }

    h3{
        font-size: 28px;
    }
}

@media only screen and (max-width: 500px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 19px;
    }
    body{
        font-size: 16px;
    }
    .guest-container {
        display: flex;
        padding: 10px;
        align-items: center;
        background-color: white;
        color: black;
        margin-bottom: 30px;
        text-align: left;
    }
    
    .guest-container>img {
        max-height: 70px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 350px) {
    h4{
        font-size: 18px;
    }
}

