html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', serif;
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
    /* position: relative; */
}

h1 {
    font-size: 45px;
    font-weight: 600;
    color: white;
    /*text-shadow: 3px 3px 0px black;*/
    margin-bottom: 10px;
}

h2 {
    position: relative;
    font-size: 25px;
    font-weight: 400;
    color: white;
    /*text-shadow: 2px 2px 0px black;*/
}

h3 {
    font-size: 45px;
    font-weight: 600;
}

h4 {
    font-size: 30px;
    font-weight: 400;
}

b {
    color: #7086be;
    font-weight: 600;
}

a {
    color: #7086be;
    text-decoration-thickness: 3px;
}

a:visited {
    color: #7086be;
}

li {
    margin: 20px 0;
}

header {
    height: 100vh;
    background-image: url("bkg3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    padding-left: 3cm;
    padding-right: 3cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
}

.negative {
    background-color: black;
    color: white;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    flex-direction: row;
    float: none;
}

.banner>div {
    display: inline-block;
}

.header-logo {
    max-height: 150px;
    margin-right: 20px;
    /*webkit-filter: drop-shadow(1px 1px 0px white);*/
    /*filter: drop-shadow(1px 1px 0px white);*/
}

.horFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.verFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.case {
    background-color: white;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
}

.case>img {
    max-height: 5cm;
}

.case-hidden {
    position: absolute;
    visibility: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    padding: 20px;
    /*text-align: center;*/
}

.pad-top {
    padding: 0px;
    padding-top: 20px;
}

.guest-container {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: white;
    color: black;
    margin-bottom: 30px;
    text-align: left;
}

.guest-container>img {
    max-height: 100px;
    margin-right: 50px;
}

.venue {
    display: grid;
    grid-template-columns: auto auto;
}

.venue>div {
    margin-right: 20px;
}