html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  border: 5px solid white;
}

main {
  background-color: red;
  height: 100vh;
}

#main-holder {
  margin: 1cm;
  background-color: green;
  display: flex;
  height: 100%;
}

#display {
  background-color: blue;
  margin-left: 1cm;
  width: 100%;
}